{% extends 'main/base.html' %}

{% block title %}
{% endblock %}

{% block content %}
	
	{% block dashboard %}
	<div class='dashboard mui-container'>

		<div class='notifs'>
			<div class = 'notifs-left mui-panel'>
				{% block notifs %}
				{% endblock %}
			</div>
			<div class = 'notifs-right mui-panel'>
				
				{% block quick-actions %}
				{% endblock %}
			</div>
		</div>

		<div class='contract-list mui-panel'>
			{% block contract_list %}	
			{% endblock %}
		</div>
	</div>
	{% endblock %}
	
{% endblock %}