<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- load MUI -->
    <link href="//cdn.muicss.com/mui-0.9.36/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.9.36/js/mui.min.js"></script>
	<link rel='stylesheet' type='text/css' href='/static/style.css'/>
	<title>PROTECTR</title>
</head>
<body>
	<div id='navbar'>
		<a href='/'><img id='logo' src='/static/ptr-logo-small.png' alt='/static/ptr-logo-small.png' /></a>
	</div>

	<div class='mui-container'>
	{% block title %}
	{% endblock %}
	{% block content %}
	{% endblock %}
	</div>
</body>
