{% extends 'main/base.html' %}

{% block title %}
<h3>Smart Will at address jordan13x13158asdbq213085667</h3>
{% endblock %}
{% block content %}
<div class='mui-panel' id='contractSummary'>
	<legend>Contract Summary</legend>
	<table class='mui-table', style="width: 50%">
    <colgroup>
       <col span="1" style="width: 67%;">
       <col span="1" style="width: 33%;">
    </colgroup
	{% for k, v in summary.items %}
	<tr>
		<td>{{ k }}:</td>
		<td id='td-right'>{{ v }}</td>
	</tr>
	{% endfor %}

	</table>
</div>
<div class='mui-panel' id=>
	<legend>Manage Gifts</legend>
    <table class="mui-table">
      <thead>
        <tr>
          <th>Number</th>
          <th>Recipient</th>
          <th>Type </th>
          <th>Description</th>
          <th>Total</th>
          <th>Paid Out</th>
          <th>Remaining to Pay</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
    		{% for gift in gifts %}
    			<tr>
            <td>{{ gift.number }}</td>
            <td>{{ gift.recipient }}</td>
            <td>{{ gift.type }}</td>
            <td>{{ gift.description }}</td>
            <td>{{ gift.total }}</td>
            <td>{{ gift.paid_out }}</td>
            <td>{{ gift.remaining_to_pay }}</td>
            <td>{{ gift.status }}</td>
    			</tr>
    		{% endfor %}
      </tbody>
    </table>

</div>
<div class='mui-panel' id=>
	<legend>General Powers You Can Exercise</legend>
	{% for power in powers %}
	<button class="mui-btn mui-btn--danger" id='power'>{{ power }}</button>
	{% endfor %}
	

</div>
{% endblock %}
