{% extends 'main/base_dashboard.html' %}

{% block title %}
<h3>Welcome, Mr. Arbitrator.</h3>
{% endblock %}

{% block notifs %}
{% for notif in user.notifications %}
<button class="mui-btn mui-btn--primary" id='notif'>{{ notif }}...</button>
{% endfor %}
<br />
<a id="seemore">See More...</a>
{% endblock %}
{% block quick-actions %}
{% for action in user.actions %}
<button class="mui-btn mui-btn--danger" id='action'>{{ action }}</button>
{% endfor %}
{% endblock %}
{% block contract_list %}
<legend>Contracts under SIAC Review</legend>

{% endblock %}
