{% extends 'main/base_dashboard.html' %}
{% block title %}
<h3>Welcome, Protector asxa3.</h3>
{% endblock %}


{% block notifs %}
<button class="mui-btn mui-btn--primary" id='notif'>Contract 2h988 requires your specific approval to disburse $100</button>
<button class="mui-btn mui-btn--primary" id='notif'>Contract ux013 has requested that you review it
</button>
<button class="mui-btn mui-btn--primary" id='notif'>Contract 213a3 been revoked by the creator. No further action necessary
</button>
<button class="mui-btn mui-btn--primary" id='notif'>Contract aalio has been suspended for Court Review. No further action is necessary
</button>
<button class="mui-btn mui-btn--primary" id='notif'>Contract 531ab has been suspended for Court Review. No further action is necessary
</button>
<a id="seemore">See More...</a>
{% endblock %}
{% block quick-actions %}
<legend>Contracts I'm Protecting</legend>
{% for action in user.actions %}
<button class="mui-btn mui-btn--danger" id='action'>{{ action }}</button>
{% endfor %}
{% endblock %}
{% block contract_list %}
<table class="mui-table">
  <thead>
    <tr>
      <th>Address</th>
      <th>Date Created</th>
      <th>Current Balance</th>
      <th>Revelant Event</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
		{% for contract in user.contracts %}
			<tr>
				<td>{{ contract.address }}</td>
				<td>{{ contract.date_created }}</td>
				<td>{{ contract.current_balance }}</td>
				<td>{{ contract.latest_event }}</td>
				<td><a>Alter</a> | <a>Revoke</a></td>
				<td><a>Details</a></td>
			</tr>
		{% endfor %}
  </tbody>
</table>
{% endblock %}
