{% extends 'main/base_dashboard.html' %}
{% block title %}
<h3>Welcome, Protector asxa3sqe01931aanesq321adasda!</h3>
{% endblock %}


{% block notifs %}
<h4>Your Notifications</h4>
<button class="mui-btn mui-btn--primary" style="width:100%">A contract requires your specific approval to disburse $100.</button>
<button class="mui-btn" style="width:100%; margin-left:0">A contract has been revoked by the creator. No further action necessary.
</button>
<button class="mui-btn mui-btn--primary" style="width:100%; margin-left:0">A contract has requested that you review it.
</button>
<button class="mui-btn" style="width:100%; margin-left:0">A contract has been suspend for Court Review. No further action necessary.
</button>
{% endblock %}
{% block quick-actions %}
<h4>Quick Actions</h4>
{% endblock %}
{% block contract_list %}
<table class="mui-table">
  <thead>
    <tr>
      <th>Address</th>
      <th>Date Created</th>
      <th>Current Balance</th>
      <th>Revelant Event</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
		{% for contract in user.contracts %}
			<tr>
				<td>{{ contract.address }}</td>
				<td>{{ contract.date_created }}</td>
				<td>{{ contract.current_balance }}</td>
				<td>{{ contract.latest_event }}</td>
				<td><b>Alter | Revoke</b></td>
				<td><button class='mui-btn'><u>Details</u></button></td>
			</tr>
		{% endfor %}
  </tbody>
</table>
{% endblock %}
