{% extends 'main/base_dashboard.html' %}

{% block title %}
<h3>Welcome, User u023812852321312313113.</h3>
{% endblock %}

{% block notifs %}
{% for notif in user.notifications %}
<button class="mui-btn mui-btn--primary" id='notif'>{{ notif }}...</button>
{% endfor %}
{% endblock %}
{% block quick-actions %}
{% for action in user.actions %}
<button class="mui-btn mui-btn--danger" id='action'>{{ action }}</button>
{% endfor %}
{% endblock %}
{% block contract_list %}
<legend>Your Contracts</legend>

{% endblock %}
