/**  COLOR CODES

Main Dark Blue: #2F5597;
Light Blue: 3F73CC;
Lightest Blue: 4F90FF;
Pink: FF7E69;
Dark Green: 8DB22F;
Dark Grey: #333333;
Light Grey: #858585;
Lightest Grey for BG: rgba(242,242,242);


**/

h1, h2, h3, h4, h5, p, legend {
	color: #858585;
	font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
	font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0px;
	padding: 15px;
	background-color: rgba(242,242,242,1);
}

a {
	color: #2F5597;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #3F73CC;
	cursor: pointer;
}

legend {
	font-weight: bold;
	font-size:120%;
}

#index-container {
	text-align:center;
	display:block;
	position: absolute;
	width: 700px;
	height: 300px;
	z-index: 15;
	top: 50%;
	left: 50%;
	margin: -50px 0 0 -350px;
}

#index-container img {
	height: 100px;
}

#navbar {
	width: 100%;
	height: 50px;
	padding: 0px;
	margin: 0px;
	display: inline-block;
}

#logo {
	position: absolute;
	left: 10px;
	top: 15px;
	max-height: 25px;
}

.dashboard {
	width: 100%;
	height: 1000px;
}

.dashboard-aligner {
	width: 85%;
}
.notifs-left {
	position: absolute;
	top: 150px;
	width: 850px;
	height: 300px;

}

.notifs-right {
	position: absolute;
	top: 150px;
	left: 960px;
	width: 200px;
	height: 300px;
}

.contracts-list {
	position: absolute;
	top: 550px;
	min-height: 300px;
	width: 1100px;
	display: inline-block;
}

.mui-btn+.mui-btn {
    margin-left: 0px;
}

.mui-btn--danger {
    margin-top: 9px;
}

#notif {
	text-transform: none;
	width: 100%;
	background-color: #2F5597;
}
#notif:hover {
	background-color: #3F73CC;
}


#action {
	display:block;
	clear:both;
	height: 36px;
	width:100%;
	background-color: #8DB22F;
}
#action:hover {
	background-color: rgba(141,178,41,0.72);
}


#seemore {
	position: absolute;
	bottom: 10px;
	right: 15px;
}

#contractSummary td {
	padding-left: 0px;
}

tr:hover {background-color: #f5f5f5;}

#td-right {
	text-align:right;
}

#power {
	height: 36px;
	background-color: #8DB22F;
}
#power:hover {
	background-color: rgba(141,178,41,0.72);
}
